.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: $space-margin--big;
}

.u-margin-top-big {
    margin-top: $space-margin--big;
}

.u-margin-bottom-small {
    margin-bottom: $space-margin--small;
}