.header {
    width: 100%;
    min-height: 85vh;
    background-image: linear-gradient((to right bottom, rgba($color-black, .6), rgba($color-black, .6))), url(../img/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &__logo-box {
        display: inline-block;
        position: absolute;
        top: 3rem;
        left: 15rem;
    }
    &__logo {
        height: 2.5rem;
    }
    &__menu {
        position: absolute;
        top: 3rem;
        right: 15rem;
        &--item {
            list-style: none;
            display: inline-block;
            &:not(:last-child) {
                margin-right: 1.5rem;
            }
        }
        &--sub {
            color: $color-white;
            font-weight: 500;
            text-decoration: none;
            font-weight: 600;
            transition: all .1s ease-out;
            backface-visibility: hidden;
            &:hover {
                border-bottom: .2rem solid $color-dark;
            }
        }
    }
}