 .heading__text-box {
     display: inline-block;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     .heading__primary {
         margin-bottom: 5rem;
         &--main {
             color: $color-white;
             display: block;
             font-size: 4.5rem;
             animation: moveInLeft 1.2s ease-in;
         }
         &--sub {
             color: $color-white;
             font-weight: 300;
             font-size: 2rem;
             animation: moveInLeft 1.2s ease-in;
         }
     }
 }
 
 .heading-date {
     width: 100%;
     max-width: 70rem;
     background-color: $color-white;
     padding: 3rem 4rem;
     position: absolute;
     top: 100%;
     left: 50%;
     transform: translate(-50%, -50%);
     box-shadow: 0 .5rem 4rem rgba($color-black, .2);
     border-radius: .5rem;
     .date__info {
         display: inline-block;
         text-align: center;
         &:not(:last-child) {
             border-right: .1rem solid rgba($color-black, .2);
             margin-right: 5.5rem;
             padding-right: 5.5rem;
         }
         &--value {
             display: block;
             font-weight: 600;
             font-size: 1.8rem;
             margin-bottom: .5rem;
         }
         &--text {
             display: block;
         }
     }
 }
 
 .header--roll {
     width: 100%;
     z-index: 2000;
     transition: all .4s ease-in;
 }
 
 .section__boat {
     width: 100%;
     padding: 12rem 5rem;
     background-image: linear-gradient(to right bottom, rgba($color-black, .5), rgba($color-black, .5)), url(../../img/banner-2.png);
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     /*transform: skewX(10deg); INTERESSANTE VALUE PARA FAZER FORMA*/
     display: inline-block;
     text-align: center;
 }
 
 .section__featured {
     padding: 8rem 4rem;
 }