$color-primary:#e7434e;
$color-dark :#c32525;
$color-secondary:#404040;
$color-white:#fff;
$color-black:#000;
$color-grey:#343435;
$color-grey-light:#717171;
$color-dark-Saturation: #a01f1f;
//space of margin
$space-margin--big: 8rem;
$space-margin--media: 4rem;
$space-margin--small: 1.5rem;
//grid
$grid-width:110rem;
$gutter-vertical: 8rem;
$gutter-horizontal:2rem;
$gutter-horizontal-small: 1.5rem;
//typography
$width-title-big: 4rem;
$width-title-media: 2rem;
$width-title-small:1rem;
// boder radios
$width-border-radius: .2rem;